<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a class="active " href="/">Home</a>
        <a href="/Create" >Create User </a>
     
      </div>
    <div class="form-add-new">
        <form action="/Delete-user" method="post">
        <fieldset>
            <legend >Form Delete User</legend>
            <div class="input-group hidden-id">
                <label >ID:</label>
                <input type="text" name="UserId" value="<%= userDele.id %>"/>
            </div>
            <div class="input-group ">
                <label >you sure delete Email:<%= userDele.email %> </label>
             
            </div>
        <div class="button-add-user">
            <button class="button-add">Accept</button>
        </div>
       
    </fieldset>
</form>
    </div>
</body>
</html>